__pycache__/
.ipynb_checkpoints/
venv/
env/
.env

# Ignore temporary backfill files
data/checkpoint.csv

# Ignore all GIS test files and shapefiles
*.gdb/
*.shp
*.shx
*.dbf
*.prj
*.geojson

# Ignore ALL parquet files...
*.parquet

# ...EXCEPT the specific files our GitHub Pages frontend needs!
!data/eu_water_surfaces.parquet
!data/water_trends_history.parquet
!data/eu_water_surfaces.geojson

todo.md
